.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    background: #1a202c;
    color: #fff;
}

.cardImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.card:hover img {
    filter: brightness(0.8) contrast(1.2);
}


.title {
    font-family: var(--font-fjalla);
    font-weight: 700;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 1rem;
    color: #1a202c;
    transition: color 0.3s ease;
}

.card:hover .title {
    color: #fff;
}

.author {
    font-size: 1rem;
    font-weight: 500;
    color: #4a5568;
    margin-bottom: 0.25rem;
}

.date {
    font-size: 1rem;
    margin: 0 1rem 1rem;
    color: #4a5568;
}

.summary {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    color: #2d3748;
    margin-bottom: 0.75rem;
}

.content {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: #4a5568;
}

.cardLink {
    text-decoration: none;
}

.summary,
.author,
.date,
.content {
    margin: 0 1rem 0.8rem;
    color: #4a5568;
    transition: color 0.3s ease;
}

.card:hover .summary,
.card:hover .author,
.card:hover .date,
.card:hover .content {
    color: #e0e0e0;
}