.title {
    color: #1f1f1f;
    font-family: var(--font-fjalla);
    text-decoration: none;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size: 2rem;
    position: relative;
    z-index: 1;
    animation: infinite 0.7s;
}

.link {
    text-decoration: none;
}